<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Learning ASP.NET</title>
    <style>

        #box {
            margin: 0px;
            display: inline;
            padding: 200px;
            border: 1px solid red;
        }
    </style>
    @RenderSection("styles", false)
</head>
<body>
    @RenderBody()
</body>

@RenderSection("scripts", false)
</html>