<div class="col-lg-6">
    <div class="card-box">
        <h4 class="m-t-0">@ViewData["SalesAnalyticsCaptions"]</h4>
        <div class="text-center">
            <ul class="list-inline chart-detail-list">
                <li>
                    <h5 class="font-normal"><i class="fa fa-circle m-r-10 text-primary"></i>Mobiles</h5>
                </li>
                <li>
                    <h5 class="font-normal"><i class="fa fa-circle m-r-10 text-info"></i>Tablets</h5>
                </li>
            </ul>
        </div>
        <div id="dashboard-line-chart" style="height: 300px;"></div>
    </div>
</div> <!-- end col -->
