@model SearchModel
@{
    ViewBag.Title = "Search Form";
}

@section styles{

    <style>
        #txt {
            background-color: pink;
            color: red;
        }

        #txt_color {
        }
    </style>
}

<h2>Search by: @ViewBag.keyword</h2>


@using (Html.BeginForm("GetSearchForm", "Home", FormMethod.Post))
{
    @Html.TextBox("keyword", String.Empty, new { id = "txt", chuks = "owin" })
    @Html.CheckBox("RememberMe")
    <input type="text" name="keyword2" id="keyword2" value="" />

    <button type="submit">
        GO
    </button>
}

